Repository openemr/openemr-on-eks: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubernetes-manifest-validate, go-fmt, go-vet, go-mod-tidy, go-build-check

Path conditions:
  kubernetes-manifest-validate: any of: \.(yaml|yml)$
  go-fmt: any of: ^console/.*\.go$
  go-vet: any of: ^console/.*\.go$
  go-mod-tidy: any of: ^console/go\.mod$
  go-build-check: any of: ^console/.*\.go$

Update install-monitoring.sh
  monitoring/install-monitoring.sh
Due: none

version bumps
  .github/workflows/ci-cd-tests.yml
  .github/workflows/manual-releases.yml
  .github/workflows/security-comprehensive.yml
  .pre-commit-config.yaml
  README.md
  docs/BACKUP_RESTORE_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_TIMINGS.md
  docs/LOGGING_GUIDE.md
  docs/README.md
  docs/TROUBLESHOOTING.md
  docs/VERSION_MANAGEMENT.md
  k8s/logging.yaml
  monitoring/install-monitoring.sh
  monitoring/openemr-monitoring.conf.example
  monitoring/prometheus-values.yaml
  scripts/check-openemr-versions.sh
  scripts/clean-deployment.sh
  scripts/deploy-training-openemr-setup.sh
  scripts/quick-deploy.sh
  scripts/restore.sh
  scripts/ssl-renewal-manager.sh
  scripts/test-warp-end-to-end.sh
  scripts/validate-deployment.sh
  scripts/version-manager.sh
  terraform/README.md
  terraform/cloudwatch.tf
  terraform/eks.tf
  terraform/outputs.tf
  terraform/terraform.tfvars
  terraform/terraform.tfvars.example
  terraform/variables.tf
  versions.yaml
Due: kubernetes-manifest-validate

bumps aurora engine version and makes openemr 7.0.4 again
  k8s/logging.yaml
  scripts/check-openemr-versions.sh
  scripts/clean-deployment.sh
  scripts/restore.sh
  scripts/ssl-renewal-manager.sh
  scripts/version-manager.sh
  terraform/cloudwatch.tf
  terraform/outputs.tf
  terraform/rds.tf
  terraform/terraform.tfvars
  terraform/terraform.tfvars.example
  terraform/variables.tf
  versions.yaml
Due: kubernetes-manifest-validate

updates documentation
  README.md
  docs/BACKUP_RESTORE_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_TIMINGS.md
  docs/LOGGING_GUIDE.md
  docs/README.md
  docs/TROUBLESHOOTING.md
  docs/VERSION_MANAGEMENT.md
  scripts/validate-deployment.sh
  terraform/README.md
Due: none

bumps openemr to 8.0.0
  README.md
  docs/BACKUP_RESTORE_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_TIMINGS.md
  docs/LOGGING_GUIDE.md
  docs/README.md
  docs/TROUBLESHOOTING.md
  docs/VERSION_MANAGEMENT.md
  k8s/logging.yaml
  scripts/check-openemr-versions.sh
  scripts/clean-deployment.sh
  scripts/restore.sh
  scripts/ssl-renewal-manager.sh
  scripts/validate-deployment.sh
  terraform/README.md
  terraform/cloudwatch.tf
  terraform/outputs.tf
  terraform/terraform.tfvars
  terraform/terraform.tfvars.example
  terraform/variables.tf
  versions.yaml
Due: kubernetes-manifest-validate

v6.0.1 adds comprehensive unit testing and integrates it to CI
  .github/workflows/ci-cd-tests.yml
  README.md
  docs/TESTING_GUIDE.md
  scripts/run-test-suite.sh
  tests/README.md
  tests/bats/backup.bats
  tests/bats/check-openemr-versions.bats
  tests/bats/clean-deployment.bats
  tests/bats/cluster-security-manager.bats
  tests/bats/config_defaults.bats
  tests/bats/deploy-training-openemr-setup.bats
  tests/bats/destroy.bats
  tests/bats/get-python-image-version.bats
  tests/bats/k8s_deploy.bats
  tests/bats/monitoring.bats
  tests/bats/oidc_provider.bats
  tests/bats/openemr-feature-manager.bats
  tests/bats/quick-deploy.bats
  tests/bats/restore-defaults.bats
  tests/bats/restore.bats
  tests/bats/scripts_common.bats
  tests/bats/search-codebase.bats
  tests/bats/ssl-cert-manager.bats
  tests/bats/ssl-renewal-manager.bats
  tests/bats/test-end-to-end-backup-restore.bats
  tests/bats/test-warp-end-to-end.bats
  tests/bats/test-warp-pinned-versions.bats
  tests/bats/test_helper.bash
  tests/bats/validate-deployment.bats
  tests/bats/validate-efs-csi.bats
  tests/bats/version-manager.bats
  tests/bats/versions_yaml.bats
  tests/bats/warp_verify_counts.bats
Due: kubernetes-manifest-validate

updates
  tests/bats/destroy.bats
  tests/bats/ssl-cert-manager.bats
  tests/bats/validate-deployment.bats
  tests/bats/validate-efs-csi.bats
Due: none

updates to tests
  tests/bats/cluster-security-manager.bats
  tests/bats/get-python-image-version.bats
  tests/bats/k8s_deploy.bats
  tests/bats/monitoring.bats
  tests/bats/oidc_provider.bats
Due: none

Update test-warp-pinned-versions.bats
  tests/bats/test-warp-pinned-versions.bats
Due: none

aligns comments across code
  .github/workflows/ci-cd-tests.yml
  .github/workflows/console-ci.yml
  .github/workflows/manual-releases.yml
  .github/workflows/monthly-version-check.yml
  k8s/deploy.sh
  k8s/deployment.yaml
  k8s/hpa.yaml
  k8s/ingress.yaml
  k8s/network-policies.yaml
  k8s/secrets.yaml
  k8s/service.yaml
  k8s/ssl-renewal.yaml
  k8s/storage.yaml
  monitoring/install-monitoring.sh
  oidc_provider/scripts/deploy.sh
  oidc_provider/scripts/destroy.sh
  oidc_provider/scripts/validate.sh
  scripts/backup.sh
  scripts/check-openemr-versions.sh
  scripts/clean-deployment.sh
  scripts/cluster-security-manager.sh
  scripts/destroy.sh
  scripts/get-python-image-version.sh
  scripts/openemr-feature-manager.sh
  scripts/restore-defaults.sh
  scripts/restore.sh
  scripts/run-test-suite.sh
  scripts/ssl-cert-manager.sh
  scripts/ssl-renewal-manager.sh
  scripts/test-end-to-end-backup-restore.sh
  scripts/validate-deployment.sh
  scripts/validate-efs-csi.sh
  scripts/version-manager.sh
  terraform/eks.tf
  terraform/elasticache.tf
  terraform/rds.tf
  versions.yaml
  warp/.github/workflows/ci.yml
  warp/setup.py
  warp/warp/core/omop_to_ccda.py
Due: kubernetes-manifest-validate

aligns comments in in-line code
  README.md
  console/README.md
  docs/AUTOSCALING_GUIDE.md
  docs/BACKUP_RESTORE_GUIDE.md
  docs/CONSOLE_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/LOGGING_GUIDE.md
  docs/MANUAL_RELEASES.md
  docs/TROUBLESHOOTING.md
  monitoring/README.md
  scripts/README.md
  warp/DEVELOPER.md
Due: none

aligns comments in configuration files
  monitoring/openemr-monitoring.conf.example
  terraform/terraform.tfvars.example
Due: none

v6.1.1
  .pre-commit-config.yaml
  README.md
  docs/BACKUP_RESTORE_GUIDE.md
  docs/CONSOLE_GUIDE.md
  docs/CREDENTIAL_ROTATION_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/README.md
  docs/SECURITY_SCANNING.md
  docs/TROUBLESHOOTING.md
  k8s/README.md
  monitoring/install-monitoring.sh
  monitoring/openemr-monitoring.conf.example
  monitoring/prometheus-values.yaml
  scripts/README.md
  scripts/version-manager.sh
  terraform/README.md
  terraform/tfplan
  tools/credential-rotation/README.md
  versions.yaml
Due: kubernetes-manifest-validate

v6.1.2
  README.md
  VERSION
  docs/DEPLOYMENT_GUIDE.md
  monitoring/README.md
  monitoring/install-monitoring.sh
  monitoring/openemr-monitoring.conf.example
  monitoring/prometheus-values.yaml
  scripts/validate-deployment.sh
  scripts/version-manager.sh
  versions.yaml
Due: kubernetes-manifest-validate

makes terraform version consistent across documentation
  .github/workflows/README.md
  README.md
  docs/DEPLOYMENT_GUIDE.md
  docs/GITHUB_AWS_CREDENTIALS.md
  monitoring/README.md
  oidc_provider/README.md
  oidc_provider/scripts/deploy.sh
  oidc_provider/scripts/destroy.sh
  oidc_provider/scripts/validate.sh
  scripts/deploy-training-openemr-setup.sh
  scripts/quick-deploy.sh
  scripts/test-warp-end-to-end.sh
Due: none

v6.2.0
  .github/workflows/ci-cd-tests.yml
  .github/workflows/ci-contract-tests.yml
  README.md
  diagrams/README.md
  diagrams/architecture.png
  diagrams/generate.sh
  images/README.md
  images/diagrams_table_of_contents_section_picture.png
  tests/bats/diagrams_generate.bats
Due: kubernetes-manifest-validate

updates
  terraform/backup.tf
  terraform/cloudtrail.tf
  terraform/kms.tf
  terraform/main.tf
  terraform/s3.tf
  terraform/variables.tf
Due: none

fix markdown stuff
  .markdownlint.json
  README.md
  console/README.md
  docs/CONSOLE_GUIDE.md
  docs/DEPLOYMENT_TIMINGS.md
  docs/GITHUB_AWS_CREDENTIALS.md
  docs/LOGGING_GUIDE.md
  scripts/README.md
  warp/benchmark-data/README.md
Due: none

fix yamllint
  .github/workflows/ci-cd-tests.yml
  .github/workflows/monthly-version-check.yml
  .github/workflows/security-comprehensive.yml
  k8s/deployment.yaml
  k8s/hpa.yaml
  k8s/ingress.yaml
  k8s/logging.yaml
  k8s/namespace.yaml
  k8s/network-policies.yaml
  k8s/security.yaml
  k8s/service.yaml
  warp/config.example.yaml
  warp/k8s-job-benchmark.yaml
  warp/k8s-job-test.yaml
  warp/k8s-job.yaml
Due: kubernetes-manifest-validate

Fixes error handling when snapshot is not provided in restore.sh
  scripts/restore.sh
Due: none

Update main.go
  console/main.go
Due: go-fmt, go-vet, go-build-check

updates documentation
  README.md
  console/README.md
  docs/CONSOLE_GUIDE.md
  images/README.md
  images/tui.gif
  images/tui.png
Due: none

Update README.md
  README.md
Due: none

fixes CI warnings
  .github/workflows/ci-cd-tests.yml
  warp/.github/workflows/ci.yml
Due: kubernetes-manifest-validate

fixes cache dependency issues for Go related CI jobs
  .github/workflows/ci-contract-tests.yml
  .github/workflows/console-ci.yml
  .github/workflows/security-comprehensive.yml
Due: kubernetes-manifest-validate

Fixes KICS annotations in CI jobs
  .github/workflows/monthly-version-check.yml
  k8s/deployment.yaml
  terraform/credential-rotation.tf
  terraform/rds.tf
  warp/k8s-job-benchmark.yaml
  warp/k8s-job-test.yaml
Due: kubernetes-manifest-validate

Removes redundant Go module caching setup by setup go v6.3.0
  .github/workflows/console-ci.yml
Due: kubernetes-manifest-validate

fixes KICS annotations in CI
  .github/workflows/monthly-version-check.yml
  .github/workflows/security-comprehensive.yml
  k8s/deployment.yaml
  kics.config
  terraform/credential-rotation.tf
  terraform/rds.tf
Due: kubernetes-manifest-validate

Fixes additional KICS annotiations
  kics.config
  warp/k8s-job-benchmark.yaml
  warp/k8s-job-test.yaml
Due: kubernetes-manifest-validate

Update kics.config
  kics.config
Due: none

Additional KICS configuration related changes
  k8s/ssl-renewal.yaml
  kics.config
  warp/k8s-job.yaml
Due: kubernetes-manifest-validate

Update .trivyignore
  .trivyignore
Due: none

v6.3.0
  README.md
  docs/DEPLOYMENT_GUIDE.md
  terraform/README.md
  terraform/rds.tf
  terraform/terraform-production.tfvars
  terraform/terraform.tfvars
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: none

Adds additional unit tests for credential rotation code
  tools/credential-rotation/tests/test_cli_extended.py
  tools/credential-rotation/tests/test_config_discovery.py
  tools/credential-rotation/tests/test_efs_editor_extended.py
  tools/credential-rotation/tests/test_k8s_refresh_extended.py
  tools/credential-rotation/tests/test_rotate_orchestrator.py
  tools/credential-rotation/tests/test_validators_extended.py
Due: none

Update ci-cd-tests.yml
  .github/workflows/ci-cd-tests.yml
Due: kubernetes-manifest-validate
