Repository openemr/openemr-on-eks: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubernetes-manifest-validate, go-fmt, go-vet, go-mod-tidy, go-build-check

Path conditions:
  kubernetes-manifest-validate: any of: \.(yaml|yml)$
  go-fmt: any of: ^console/.*\.go$
  go-vet: any of: ^console/.*\.go$
  go-mod-tidy: any of: ^console/go\.mod$
  go-build-check: any of: ^console/.*\.go$

General CI improvements
  .github/workflows/ci-cd-tests.yml
  .github/workflows/ci-contract-tests.yml
  .github/workflows/console-ci.yml
  .github/workflows/security-comprehensive.yml
  tools/credential-rotation/tests/conftest.py
  tools/credential-rotation/tests/test_rollback_flow.py
  tools/credential-rotation/tests/test_rotate_orchestrator.py
  tools/credential-rotation/tests/test_validators_extended.py
Due: kubernetes-manifest-validate

Formatting fix
  warp/tests/__init__.py
  warp/tests/benchmarks/__init__.py
  warp/tests/benchmarks/test_performance.py
  warp/tests/test_omop_to_ccda.py
  warp/tests/test_uploader.py
  warp/warp/cli.py
  warp/warp/commands/ccda_data_upload.py
  warp/warp/core/credential_discovery.py
  warp/warp/core/db_importer.py
  warp/warp/core/omop_to_ccda.py
  warp/warp/core/uploader.py
Due: none

Adds Warp unit tests
  warp/tests/test_ccda_command.py
  warp/tests/test_cli.py
  warp/tests/test_credential_discovery.py
  warp/tests/test_db_importer.py
  warp/tests/test_omop_extended.py
  warp/tests/test_uploader_extended.py
Due: none

Update test_rotate_orchestrator.py
  tools/credential-rotation/tests/test_rotate_orchestrator.py
Due: none

formattting fixes
  tools/credential-rotation/src/credential_rotation/cli.py
  tools/credential-rotation/src/credential_rotation/efs_editor.py
  tools/credential-rotation/src/credential_rotation/rotate.py
  tools/credential-rotation/tests/conftest.py
  tools/credential-rotation/tests/test_config_discovery.py
  tools/credential-rotation/tests/test_efs_editor_extended.py
  tools/credential-rotation/tests/test_k8s_refresh.py
  tools/credential-rotation/tests/test_mismatch_guard.py
  tools/credential-rotation/tests/test_rollback_flow.py
  tools/credential-rotation/tests/test_rotate_orchestrator.py
  tools/credential-rotation/tests/test_secrets_manager.py
  tools/credential-rotation/tests/test_validators_extended.py
Due: none

Update security-comprehensive.yml
  .github/workflows/security-comprehensive.yml
Due: kubernetes-manifest-validate

Update requirements.txt
  tools/credential-rotation/requirements.txt
Due: none

Update versions.yaml
  versions.yaml
Due: kubernetes-manifest-validate

bump: update all components per April 2026 version check (#82)
  .github/workflows/ci-cd-tests.yml
  .github/workflows/ci-contract-tests.yml
  .github/workflows/console-ci.yml
  .github/workflows/monthly-version-check.yml
  .github/workflows/security-comprehensive.yml
  .pre-commit-config.yaml
  console/go.mod
  console/go.sum
  k8s/deployment.yaml
  k8s/logging.yaml
  monitoring/install-monitoring.sh
  monitoring/openemr-monitoring.conf.example
  monitoring/prometheus-values.yaml
  oidc_provider/main.tf
  scripts/clean-deployment.sh
  scripts/restore.sh
  scripts/validate-deployment.sh
  terraform/cloudwatch.tf
  terraform/eks.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/variables.tf
  tools/credential-rotation/requirements.txt
  versions.yaml
  warp/.github/workflows/ci.yml
  warp/requirements.txt
Due: kubernetes-manifest-validate, go-mod-tidy

Update README.md
  README.md
Due: none

fix: update BATS test to expect OpenEMR 8.1.0 default version
  tests/bats/config_defaults.bats
Due: none

Update terraform.tfvars
  terraform/terraform.tfvars
Due: none

Update Terraform badge version in README
  README.md
Due: none

Chore: bumps dependencies
  .github/workflows/ci-cd-tests.yml
  .github/workflows/monthly-version-check.yml
  .github/workflows/security-comprehensive.yml
  .pre-commit-config.yaml
  README.md
  console/go.mod
  console/go.sum
  docs/DEPLOYMENT_GUIDE.md
  k8s/deployment.yaml
  monitoring/install-monitoring.sh
  monitoring/openemr-monitoring.conf.example
  monitoring/prometheus-values.yaml
  oidc_provider/main.tf
  scripts/validate-deployment.sh
  terraform/eks.tf
  terraform/main.tf
  terraform/vpc.tf
  tools/credential-rotation/requirements.txt
  versions.yaml
  warp/.github/workflows/ci.yml
  warp/requirements.txt
Due: kubernetes-manifest-validate, go-mod-tidy

updates dependencies
  .github/workflows/ci-cd-tests.yml
  .github/workflows/ci-contract-tests.yml
  .github/workflows/monthly-version-check.yml
  .github/workflows/security-comprehensive.yml
  .pre-commit-config.yaml
  README.md
  docs/DEPLOYMENT_GUIDE.md
  k8s/deployment.yaml
  kics.config
  monitoring/install-monitoring.sh
  monitoring/openemr-monitoring.conf.example
  monitoring/prometheus-values.yaml
  oidc_provider/main.tf
  scripts/validate-deployment.sh
  terraform/eks.tf
  terraform/main.tf
  tools/credential-rotation/requirements.txt
  versions.yaml
  warp/requirements.txt
Due: kubernetes-manifest-validate

updates AWS provider in Terraform
  oidc_provider/main.tf
  terraform/main.tf
  versions.yaml
Due: kubernetes-manifest-validate

terraform fmt fix
  terraform/eks.tf
  terraform/elasticache.tf
Due: none

Restore k8s manifest placeholders removed during E2E deploy.
  k8s/deployment.yaml
  k8s/hpa.yaml
  k8s/ingress.yaml
  k8s/logging.yaml
  k8s/security.yaml
  k8s/service.yaml
  k8s/ssl-renewal.yaml
  k8s/storage.yaml
Due: kubernetes-manifest-validate

Fix Mimir chart pin and align BATS defaults with 8.1.x changes.
  README.md
  docs/DEPLOYMENT_GUIDE.md
  monitoring/install-monitoring.sh
  monitoring/openemr-monitoring.conf.example
  monitoring/prometheus-values.yaml
  scripts/test-warp-pinned-versions.sh
  scripts/validate-deployment.sh
  tests/bats/config_defaults.bats
  tests/bats/k8s_deploy.bats
  versions.yaml
Due: kubernetes-manifest-validate

fixes python version for manual release workflow (#93)
  .github/workflows/README.md
  .github/workflows/manual-releases.yml
  docs/MANUAL_RELEASES.md
  tests/bats/contract-tests.bats
  warp/.github/workflows/ci.yml
Due: kubernetes-manifest-validate

fix: make dependency checks deterministic
  .github/workflows/ci-cd-tests.yml
  .github/workflows/ci-contract-tests.yml
  .github/workflows/console-ci.yml
  .github/workflows/manual-releases.yml
  .github/workflows/monthly-version-check.yml
  .github/workflows/security-comprehensive.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/SECURITY_SCANNING.md
  kics.config
  oidc_provider/.terraform.lock.hcl
  oidc_provider/main.tf
  oidc_provider/scripts/deploy.sh
  oidc_provider/scripts/validate.sh
  scripts/deploy-training-openemr-setup.sh
  scripts/destroy.sh
  scripts/openemr_dr/pyproject.toml
  scripts/quick-deploy.sh
  scripts/run-test-suite.sh
  scripts/test-end-to-end-backup-restore.sh
  scripts/test-warp-end-to-end.sh
  scripts/version-manager.sh
  terraform/.terraform.lock.hcl
  terraform/README.md
  terraform/main.tf
  tests/bats/contract-tests.bats
  tests/bats/version-manager.bats
  tools/codebase-mcp/src/openemr_eks_mcp/knowledge.py
  tools/codebase-mcp/tests/conftest.py
  tools/codebase-mcp/tests/test_cli.py
  tools/codebase-mcp/tests/test_knowledge.py
  tools/codebase-mcp/tests/test_policy.py
  tools/codebase-mcp/tests/test_server.py
  versions.yaml
  warp/.github/workflows/ci.yml
  warp/setup.py
Due: kubernetes-manifest-validate

fix: clear CI security and portability failures
  .checkov.baseline
  .checkov.yaml
  .github/workflows/security-comprehensive.yml
  .pre-commit-config.yaml
  docs/SECURITY_SCANNING.md
  k8s/credential-rotation-cronjob.yaml
  k8s/credential-rotation-job.yaml
  k8s/deployment.yaml
  k8s/jobs/data-restore-job.yaml
  k8s/network-policies.yaml
  k8s/ssl-renewal.yaml
  terraform/cloudtrail.tf
  terraform/credential-rotation.tf
  terraform/rds.tf
  terraform/s3.tf
  terraform/waf.tf
  tests/bats/contract-tests.bats
  tests/bats/test-end-to-end-backup-restore.bats
  trivy.yaml
  warp/Dockerfile
  warp/k8s-job-benchmark.yaml
  warp/k8s-job-test.yaml
  warp/k8s-job.yaml
Due: kubernetes-manifest-validate

fix: enforce complete security scan coverage
  .checkov.yaml
  .github/workflows/ci-cd-tests.yml
  .github/workflows/console-ci.yml
  .github/workflows/manual-releases.yml
  .github/workflows/monthly-version-check.yml
  .github/workflows/security-comprehensive.yml
  docs/SECURITY_SCANNING.md
  k8s/jobs/data-restore-job.yaml
  k8s/jobs/data-restore-script.sh
  monitoring/install-monitoring.sh
  monitoring/openemr-monitoring.conf.example
  monitoring/prometheus-values.yaml
  terraform/cloudtrail.tf
  terraform/s3.tf
  tests/bats/contract-tests.bats
  tests/bats/monitoring.bats
  tools/codebase-mcp/tests/test_policy.py
  tools/credential-rotation/tests/test_cli.py
  trivy.yaml
  warp/config.example.yaml
Due: kubernetes-manifest-validate

docs: synchronize operational guidance
  .github/workflows/README.md
  README.md
  docs/AUTOSCALING_GUIDE.md
  docs/BACKUP_RESTORE_GUIDE.md
  docs/CONSOLE_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_TIMINGS.md
  docs/DISASTER_RECOVERY_PYTHON.md
  docs/END_TO_END_TESTING_REQUIREMENTS.md
  docs/GITHUB_AWS_CREDENTIALS.md
  docs/KNOWLEDGE_MCP.md
  docs/LOGGING_GUIDE.md
  docs/MANUAL_RELEASES.md
  docs/README.md
  docs/SECURITY_SCANNING.md
  docs/TESTING_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/VERSION_MANAGEMENT.md
  k8s/README.md
  monitoring/README.md
  oidc_provider/README.md
  scripts/README.md
  terraform/README.md
  terraform/tfplan
  tests/README.md
  tools/codebase-mcp/README.md
Due: none

fix: normalize monitoring node summary
  monitoring/install-monitoring.sh
  tests/bats/monitoring.bats
Due: none

fix: tolerate backup disassociation failures
  scripts/destroy.sh
  tests/bats/destroy.bats
Due: none

fix: make E2E infrastructure recreation deterministic
  scripts/destroy.sh
  scripts/test-end-to-end-backup-restore.sh
  tests/bats/destroy.bats
  tests/bats/test-end-to-end-backup-restore.bats
Due: none

fix: remove account-specific AWS profile default
  docs/END_TO_END_TESTING_REQUIREMENTS.md
  scripts/README.md
  scripts/run-e2e-full-test.sh
  tests/bats/run-e2e-full-test.bats
Due: none

fix: restore autoscaling after verification
  docs/BACKUP_RESTORE_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_TIMINGS.md
  docs/DISASTER_RECOVERY_PYTHON.md
  docs/END_TO_END_TESTING_REQUIREMENTS.md
  k8s/deploy.sh
  scripts/openemr_dr/restore/phases/verify.py
  scripts/openemr_dr/tests/test_verify_extended.py
  scripts/restore.sh
  tests/bats/k8s_deploy.bats
  tests/bats/restore.bats
Due: none

fix: harden E2E recreation cleanup
  README.md
  docs/BACKUP_RESTORE_GUIDE.md
  docs/CONSOLE_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_TIMINGS.md
  docs/END_TO_END_TESTING_REQUIREMENTS.md
  docs/TESTING_GUIDE.md
  k8s/deploy.sh
  scripts/README.md
  scripts/deploy-training-openemr-setup.sh
  scripts/quick-deploy.sh
  scripts/run-e2e-full-test.sh
  scripts/test-end-to-end-backup-restore.sh
  scripts/test-warp-end-to-end.sh
  scripts/validate-deployment.sh
  terraform/elasticache.tf
  tests/bats/contract-tests.bats
  tests/bats/test-end-to-end-backup-restore.bats
Due: none

Add Floci-backed CI integration suites and e2e-lite DR scenario.
  .github/workflows/README.md
  .github/workflows/ci-cd-tests.yml
  docs/END_TO_END_TESTING_REQUIREMENTS.md
  docs/TESTING_GUIDE.md
  scripts/ci/run-python-ci.sh
  scripts/openemr_dr/pyproject.toml
  scripts/openemr_dr/tests/test_floci_aws.py
  scripts/run-floci-integration.sh
  scripts/run-test-suite.sh
  scripts/test-config.yaml
  scripts/test-floci-e2e-lite.sh
  scripts/version-manager.sh
  tests/bats/contract-tests.bats
  tests/bats/floci-smoke.bats
  tests/bats/floci_helper.bash
  tests/bats/test-floci-e2e-lite.bats
  tests/bats/versions_yaml.bats
  tests/floci/README.md
  tests/floci/compose.yaml
  tests/floci/env.sh
  tests/floci/seed.sh
  tests/floci/wait.sh
  tools/credential-rotation/pyproject.toml
  tools/credential-rotation/tests/test_floci_secrets.py
  versions.yaml
  warp/pytest.ini
  warp/tests/test_floci_s3.py
Due: kubernetes-manifest-validate

Fix Floci CI shellcheck SC1091 and ruff SIM105 failures.
  scripts/openemr_dr/tests/test_floci_aws.py
  scripts/run-floci-integration.sh
  scripts/test-floci-e2e-lite.sh
  tests/floci/seed.sh
Due: none

Document Floci testing across project READMEs and guides.
  .github/workflows/README.md
  README.md
  docs/BACKUP_RESTORE_GUIDE.md
  docs/CREDENTIAL_ROTATION_GUIDE.md
  docs/DISASTER_RECOVERY_PYTHON.md
  docs/END_TO_END_TESTING_REQUIREMENTS.md
  docs/README.md
  docs/TESTING_GUIDE.md
  docs/VERSION_MANAGEMENT.md
  scripts/README.md
  tests/README.md
  tests/floci/README.md
  tools/credential-rotation/README.md
  warp/DEVELOPER.md
  warp/README.md
Due: none

Harden Floci compose for KICS zero-tolerance Docker Compose checks.
  tests/floci/compose.yaml
Due: kubernetes-manifest-validate
